nav {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  /* max-width: 1200px; */
  padding: 5px 10px;
  margin: 5px;
}
.ie {
  margin-left: 60px;
}
.btn {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.btni {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
}

.list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.banner-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.banner-content {
  position: relative;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.banner-btn {
  margin-top: auto;
  margin-bottom: 40px;
  padding: 12px 24px;
  background-color: blue;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
}
.h1c {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.dp {
  color: #ffffff;
  max-width: 700px;
  margin-bottom: 25px;
}

.head {
  margin-top: 120px;
}
